<app-navbar></app-navbar>

<main>
    <section id="reset_password">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-8 col-12">
                    <form #resetPassword = "ngForm" (ngSubmit)="ResetPassword(resetPassword.value)">
                        <div class="form_group">
                            <input type="password" placeholder="Şifrə" ngModel #pass name = "pass">
                        </div>
                        <div class="form_group">
                            <input type="password" placeholder="Şifrə təkrarı" ngModel #reset_pass name = "reset_pass">
                        </div>
                        <button type="submit">Şifrəni Yenilə</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
</main>

<app-footer></app-footer>
