<!-- <main>
    <div class="row">
        <div class="col-lg-3">
            <app-vertical-navbar-dashboard></app-vertical-navbar-dashboard>
        </div>
        

        <div class="col-lg-9">
            <section id="seller_information">
                <div class="container">
                    <div class="row">
                        <div class="header">
                            <h1>Satıcı Məlumatları</h1>
                        </div>
                    </div>
                    <div class="row data_row">
                        <div class="col-lg-6 left">
                            <div class="row justify-content-center">
                                <h5>Şəxsi məlumatlar</h5>
                            </div>
                            <form action="">
                                <div class="form_group">
                                    <label for="">Ad*</label>
                                    <input type="text">
                                </div>
                                <div class="form_group">
                                    <label for="">Soyad*</label>
                                    <input type="text">
                                </div>
                                <div class="form_group">
                                    <label for="">Telefon</label>
                                    <input type="tel">
                                </div>
                                <div class="form_group">
                                    <label for="">Email*</label>
                                    <input type="email">
                                </div>

                                <div class="row justify-content-center">
                                    <button>Təsdiqlə</button>
                                </div>
                            </form>
                        </div>
                        <div class="col-lg-6 right">
                            <div class="row justify-content-center">
                                <h5>Şifrəni dəyişmək</h5>
                            </div>
                            <form action="">
                                <div class="form_group">
                                    <label for="">İndiki şifrə</label>
                                    <input type="password">
                                </div>
                                <div class="form_group">
                                    <label for="">Yeni şifrə</label>
                                    <input type="password">
                                </div>
                                <div class="form_group">
                                    <label for="">Yeni şifrə(təkrar)</label>
                                    <input type="password">
                                </div>
                                <div class="row justify-content-center">
                                    <button>Dəyiş</button>
                                </div>
                            </form>
                        </div>
                    </div> 
                </div>
            </section>
        </div>
    </div>
</main> -->

<main>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 p-0">
                <app-vertical-navbar-dashboard></app-vertical-navbar-dashboard>
            </div>
            
    
            <div class="col-lg-9">
                <app-account></app-account>
            </div>
        </div>
    </div>
</main>