<app-navbar></app-navbar>

<main>
    <section id="about_us">
        <div class="page_header" style="background-image: url({{about_background}});">
            <h1>Biz Kimik</h1>
        </div>

        <div class="container">
            <div class="row">
              <div class="col-lg-12 text">
                <h2>Bİz Kİmİk</h2>
              </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="data" [innerHtml]="data"></div>
                </div>
            </div>
          </div>
    </section>
</main>


<app-footer></app-footer>