
    <section id="vertical_navbar">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 nav_column">
                    <div class="offset-lg-1 col-lg-7 col-7 col-md-4 asset_column">
                        <a [routerLink]="'/anasehife'" class="image">
                            <img title="Revofood" src={{dashboard_logo}} alt="Revofood">
                        </a>
                        <div class="header">
                            <h3>Hesabım</h3>
                        </div>
                        <div class="navigation">
                            <ul>
                                <ul>
                                    <li><a [routerLink]="'/hesab'"> <fa-icon [icon]="faUser"></fa-icon> Hesab Məlumatları</a></li>
                                    <li><a [routerLink]="'/hesab/menim-sifarislerim'"> <fa-icon [icon]="faBoxes"></fa-icon> Sİfarİşlərİm</a></li>
                                    <li><a [routerLink]="'/anasehife'"> <fa-icon [icon]="faShoppingCart"></fa-icon> Əsas Səhİfə</a></li>
                                    <li><a style="cursor: pointer;" (click)="LogOut()"> <fa-icon [icon]="faSignOut"></fa-icon> Çıxış et</a></li>
                                </ul>
                            </ul>
                        </div>

                        
                    </div>
                    <div class="close_button"><fa-icon [icon]="faTimes"></fa-icon></div>
                </div>
            </div>

            <div class="row mobile_assets">
                <div class="offset-1 col-2"><div class="burger_button"></div></div>
                <div class="offset-1 col-6 col-md-4">
                    <a [routerLink]="'/anasehife'" class="image">
                        <img title="Revofood" src={{dashboard_logo}} alt="Revofood">
                    </a>
                </div>
            </div>
        </div>
    </section>