<app-navbar></app-navbar>

<main>
    <section id="forget_password">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-8 col-12">
                    <form #forgetPassword = "ngForm" (ngSubmit)="ForgetPassword(forgetPassword.value)">
                        <input type="email" placeholder="Email" ngModel #email name = "email">
                        <button type="submit">Şifrəni bərpa et</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
</main>

<app-footer></app-footer>
